@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Ojuju:wght@738&display=swap');

.contact-title{
    font-family: "Rubik Burned", system-ui;
    background-color: black;
    color: white;
    font-size: 100px;
}

.contact-para{
    font-size: 25px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.ALL{
    font-family: "Rubik Burned", system-ui;
    font-size: 35px;
    margin: 20px 0;
}